* {
    font-family: "Balthazar";
}
body {
    height: 1000px;
    background:linear-gradient(#28677B, #42C4E0);
    color: #ffffff;
    font-family: "Balthazar"
}
form {
    /* On centre le formulaire */
    margin: 0 auto;
    margin-top: 10em;
    width: 400px;
    /* Le contour du formulaire */
    padding: 1em;
    border: 2px solid white;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Taille et alignement uniformes */
    display: inline-block;
    width: 96px;
    text-align: right;
  }
  
  input,
  textarea {
    /* On s'assure que les champs texte ont la même police
       Par défaut, les zones de texte ont une police à chasse
       fixe. */
    font-size: 1em;
  
    /* Taille uniforme pour des champs */
    width: 300px;
    box-sizing: border-box;
  
    /* On utilise la même bordure que pour le formulaire */
    border: 1px solid #ffffff;
  }
  
  input:focus,
  textarea:focus {
    /* On rajoute une mise en avant pour les éléments avec
       le focus. */
    border-color: #000;
  }
  
  textarea {
    /* On aligne les textes sur plusieurs lignes avec leur
       libellé. */
    vertical-align: top;
  
    /* On fournit un peut d'espace pour saisir du texte. */
    height: 5em;
  
    /* On permet de redimensionner verticalement. */
    resize: vertical;
  }
  
  .button {
    /* On aligne les boutons avec les champs texte. */
    padding-left: 90px; /* La même taille que les libellés */
  }
  
  button {
    /* Une marge supplémentaire représentant approximativement
       le même espace qu'entre les libellés et les champs. */
    margin-left: 0.5em;
  }
  .alignes {
        display: flex;
  }
  #mail {

  }
